$background: #FCFCFC;
$darkgrey: #3a3a3a;
$lightgrey: #C7C7C7;
$sans-serif: 'Lato';
body{
    /* nav css */
    .nav{
        color: white;
        height: 25px;
        background-color: $darkgrey;
        width: 100%;
        position: fixed;
        z-index: 500;
        padding: 0.7em;
        -webkit-box-shadow: -2px 1px 25px -8px rgba(0,0,0,0.64);
        -moz-box-shadow: -2px 1px 25px -8px rgba(0,0,0,0.64);
        box-shadow: -2px 1px 25px -8px rgba(0,0,0,0.64);
        .nav-logo{
            padding-left: 0.2em;
            vertical-align: middle;
        }
        .nav-logo.desktop{
            height: 15px;
            display: inline-block;
            @media(max-width:650px){
                display: none;
            }
        }
        .nav-logo.mobile{
            height: 25px;
            display: none;
            @media(max-width:650px){
                display: inline-block ;
            }
        }
        .right-container{
            position: absolute;
            right: 40px;
            top: 8px;
            font-size: 1.6em;
            a{
                color: inherit;
                text-decoration: inherit;
            }
            .social-button{
                margin-right: 0.4em;
            }
            .social-button:hover{
                color: #aaa;
                cursor: pointer;
            }
            @media(max-width: 500px){
                right: 10px;
            }
        }
        @media(max-width: 800px){
            position: relative;
            margin-bottom: 1.5em;
            width: inherit;
        }
    }
    background-color: $background;
    margin: 0;
    font-family:$sans-serif;

    .headline{
        color: $darkgrey;
        font-family: $sans-serif;
        font-weight: 900;
        font-size: 2.8em;
        line-height: 1.4em;
        @media(max-width: 850px){
            font-size: 2em;
        }
    }

    .intro-container{
        margin-bottom: 6em;
        @media(max-width: 850px){
            margin: 3em 0;
        }
    }

    .dateline,.byline{
        font-size: 1.1em;
    }

    .dateline{
        font-style: italic
    }

    .head-container.hide-mobile {
        text-align: right;
        position: absolute;
        max-width: 350px;
        width: 30%;
        bottom: 100px;
        right: 30px;
        @media(max-width: 850px){
            display: none;
        }
    }
    .head-container.hide-desktop{
        @media(max-width: 850px){
            display: block;
            text-align: center;
            width: 90%;
            margin: 1em auto 1em auto;
        }
        @media(max-width: 600px){
            margin-top: 0;
        }
    }

    .lead-container{
        position: relative;
    }

    .leadimg{
        width: 100%;
        height: 700px;
        background-repeat: no-repeat;
        background-position: left center;
        overflow: hidden;
        @media(max-width: 1200px){
            background-position: -300%;
        }
        @media(max-width: 1000px){
            background-position: 300%;
        }
        @media(max-width: 850px){
            background-position: right;
            background-size: 120%;
            height: 600px;
        }
        @media(max-width: 800px){
            background-position: right;
            background-size: 120%;
            height: 500px;
        }
        @media(max-width: 600px){
            height: 400px;
            background-size: 150%;

        }
        @media(max-width: 500px){
            height: 380px;
            background-size: 160%;

        }
        @media(max-width: 400px){
            height: 300px;
        }
    }

    .hide-desktop{
        display: none;
    }

    .intro-text{
        width: 90%;
        max-width: 600px;
        padding-top: 5em;
        text-align: center;
        margin: 1em auto 2em auto;
        font-size: 1.4em;
        line-height: 1.7em;
        @media(max-width: 850px){
            padding-top: 0;
            font-size: 1.1em;
        }
    }
    .stopwatch.inactive{
        opacity: 0;
    }

    .stopwatch{
        -moz-transition: all .2s linear;
        -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear;
        top:180px;
        position: fixed;
        right: 0;
        text-align: center;
        padding: 1em 2em;
        background-color: rgba(255,255,255, 0.8);
        color: $darkgrey;
        border-radius: 5px;
        opacity: 1;
        .time{
            font-size: 2em;
        }
        @media(max-width: 600px){
            right: 0;
            padding: 0.5em 1em;
            font-size: 0.9em
        }
    }

    .legend{
        text-align: center;
        margin-top: -30px;
        .key{
            display: inline-block;
                margin-right: 4em;
            p{
                display: inline-block;
                vertical-align: middle;
            }

            .legend-box{
                width: 20px;
                height: 20px;
                display: inline-block;
                margin-right: 0.5em;
                vertical-align: middle;
                @media(max-width: 900px){
                width: 12px;
                height: 12px;
                }
            }
        }
        .key:last-child{
            margin-right: 0;
        }
        @media(max-width: 900px){
            margin-top: -50px;
            text-align: left;
            padding-left: 1em;
            font-size: 0.8em;
            .key{
                margin: -10px 1em 0 0;
                margin-right: 1em;
                margin-bottom: 0.5em;
            }
        }
    }
    .x.axis{
        .tick{
            display: none
        }
    }

    .shadow,.shadow line{
        stroke: white;
        stroke-width: 7.5px;
        opacity: 0.9;
    }

    .label-text{
        font-weight: 500;
        font-size: 1.1em;
        @media(max-width: 800px){   
            font-size: 0.9em
        }
    }

    .difference .label-text{
        @media(max-width: 600px){   
            font-size: 0.8em
        }
    }

    .y.axis{
        path.domain{
            display: none;
        }
        .tick{
            font-size: 1.4em;
            text{
                fill: $lightgrey;
            }
            line{
                stroke: #EDEDED!important;
            }
        }
    }
    .finish-line-text{
        fill: $lightgrey;
        font-size: 1.5em
    }
    .button{
        border: 2px solid $darkgrey;
        padding: 0.7em 0.5em;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        font-size: 1.2em;
        background-color: $darkgrey;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }

    .button:hover{
        color: $darkgrey;
        background-color: $background;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: $lightgrey;
        stroke-width: 2;
        shape-rendering: crispEdges;
    }

    line.x.axis ,.x.axis path, line.finish-line.axis {
        stroke-width: 2;
        stroke: $lightgrey;
    }

    .refline line{
        stroke-dasharray:5, 5;
        stroke-width:2;
        stroke: $darkgrey;
    }

    span.india{
        border-bottom: dashed 2px $darkgrey;
    }

    .stepper-container{
        background-color: rgba(255,255,255,0.9);
        padding: 1em;
        position: fixed;
        top: 50px;
        left: 70px;
        width: 400px;
        border-radius: 5px;
        opacity: 0;
        .steps{
            height: 2px;
            width: 0;
            background-color: black;
            -moz-transition: all .2s linear;
        -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear;
        }
        .text{
            margin: 1em 0;
            line-height: 1.8em;
            font-size: 1em;
            b{
                font-weight: 900;
            }
            @media(max-width: 800px){
                font-size: 1em
            }
        }
        .progress{
        text-align: right;
        }
        .progress-button{
            background-color: black;
            color: white;
            border: solid 1px black;
            padding: 0.3em;
            border-radius: 5px;
            text-align: center;
            display: inline-block;
            margin-right: 1em;
            width: 80px;
            @media(max-width: 500px){
                font-size: 0.9em;
                width: 60px;
            }
        }
        .progress-button.inactive{
            display: none;
        }
        .progress-button:hover{
            border-color: black;
            background-color: rgba(255,255,255,0);
            color: black;
            cursor: pointer;
        }

        @media(max-width: 800px){
            max-width: 500px;
            top: 0;
            width: 80%;
            left: 0;
            z-index: -1;
            width: 90%;
            padding: 0.5em 1em;
        }

        @media(max-width: 800px){
            top: 5px;
        }

        @media(max-width: 600px){
            -webkit-box-shadow: -1px 3px 20px -5px rgba(0,0,0,0.68);
            -moz-box-shadow: -1px 3px 20px -5px rgba(0,0,0,0.68);
            box-shadow: -1px 3px 20px -5px rgba(0,0,0,0.68);
        }

        @media(max-width: 500px){
            .text{
                font-size: 0.9em;
            }
        }
    }
    .credits{
       font-size: 0.85em;
        color: #999999;
        width: 95%;
        margin-top: 5em;
        margin-bottom: 2em;
        margin-left: auto;
        margin-right: auto;
    }

    .text{
        a {
            color: inherit;
            text-decoration: inherit;
            padding: 0.1em 0.4em;
            font-size: 0.9em;
            border: solid 1px;
            display: inline-block;
            margin-right: 5px;
            .social{
                i{
                    padding-right: 10px;
                }   
            }
        }
    }

    .mobilelabel{
        opacity: 0;
        @media(max-width:700px){
            opacity: 1
        }
    }
    .desktoplabel{
        opacity: 1;
        @media(max-width:700px){
            opacity: 0
        }
    }
}